html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(69, 69, 69);
    margin: 0;
}

.header {
    padding: 10px;
    background: rgb(42.0, 42.0, 112);
    text-align: center;
}

a {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.MainPageTitle{
    text-align: center;
}

.MainPageTitle div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20%;
}

.MainPageTitle h2{
    padding-top: 10%;
    color: white;
    font-size: 56px;
}

.MainPageTitle p{
    color: rgb(225, 225, 225);
    font-size: 28px;
}

.MainPageTitle ul li{
    --c: white;
    --b: rgb(42.0, 42.0, 112);
    background-color: var(--b);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--b);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.MainPageTitle ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: rgb(69, 69, 69);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.MainPageTitle ul li:hover {
    color: rgb(42.0, 42.0, 112);
}

.MainPageTitle ul li:hover span {
    transform: translateY(0) scale(2);
}

.MainPageTitle ul li span:nth-child(1) {
    --n: 1;
}

.MainPageTitle ul li span:nth-child(2) {
    --n: 2;
}

.MainPageTitle ul li span:nth-child(3) {
    --n: 3;
}

.MainPageTitle ul li span:nth-child(4) {
    --n: 4;
}

.AboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.AboutMe h2 {
    font-size: 56px;
}